<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Event</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .cardcontainer {
            display: flex;
            justify-content: center;
            margin-left: 0px;
            margin-right: 0px;
            flex-direction: row;
            flex-wrap: wrap;
        }
    </style>
</head>

<body>


    <nav class="navbar navbar-expand-lg bg-body-tertiary" method="GET">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/events">Events</a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" href="/displayVolunteer">Become volunteer</a>


                </ul>
            </div>
        </div>
    </nav>
    <div class="row my-4" style="margin: 20px;">

        <div class="col-6">

            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                    <li class="breadcrumb-item"><a href="/events">Events</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Event Title</li>
                </ol>
            </nav>
        </div>


        

    </div>

    <div class="row .container" style="margin: 30px;">

        <div class="card col-lg-6 col-md-12" style="height: 600px;">

            <div class="card-body " style="flex-wrap: wrap;">
                <h1 class="card-title">
                    <%= event.event %>
                </h1>
                <h3 class="card-title">
                    <%= event.organiser %>
                </h3>
                </br>
                
                <p class="card-text">
                    <%= event.description %>
                </p>
                </br>
                <div class="card" style="width: 48rem;">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Date & Time: <%= event.date %></li>
                      <li class="list-group-item"> Location: <%= event.location %></li>
                      <li class="list-group-item">Quota: <%= event.quota %></li>
                    </ul>
                  </div>
                

            </div>
        </div>





        <div class=" col-lg-6 col-md-12 card " sstyle="height: 500px;">
            <img src="/cardimg.png" class="card-img-top" alt="..." style="object-fit:fill;">
            <div class="card-body" style="flex-wrap: wrap;">
                <h5 class="card-title">Become a volunteer</h5>
                <p class="card-text">Your time and talent can make a real difference in people's lives</p>
            </div>

        </div>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>